{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-constant-condition": ["error", {"checkLoops": false}]
  }  
}